# Stellar / Soroban
NEXT_PUBLIC_CONTRACT_ID=
NEXT_PUBLIC_NETWORK=testnet
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org
NEXT_PUBLIC_SOROBAN_RPC=https://soroban-testnet.stellar.org

# IPFS / Pinata
PINATA_API_KEY=
PINATA_SECRET=
NEXT_PUBLIC_IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs

# Backend API
NEXT_PUBLIC_API_URL=http://localhost:4000

# Platform config
PLATFORM_CONTACT_FEE_XLM=1
NEXT_PUBLIC_ADMIN_ADDRESS=
